---
layout: default
title: Reference
permalink: /
---

<section class="section">
  <div class="row">
    <div class="col-md-9" role="main">
      {% include reference/intro.html %}
      {% include reference/blockchain_api.html %}
      {% include reference/address_api.html %}
      {% include reference/wallet_api.html %}
      {% include reference/websockets_webhooks.html %}
      {% include reference/payments_transfers.html %}
      {% include reference/creating_txns.html %}
    </div>

    <div class="col-md-3">
      <div id="content-table" class="hidden-print hidden-xs hidden-sm navbar-example" data-spy="affix" data-offset-top="190" data-offset-bottom="100">
        <ul class="nav" role="tablist">
          <li><a href="#introduction" class="mpsb">Introduction</a>
            <ul>
              <li><a href="#lang-libs">Language-specific Libraries</a></li>
              <li><a href="#resources">RESTful Resources</a></li>
              <li><a href="#rate_limits">Rate Limits</a></li>
              <li><a href="#batching">Batching</a> <span class="label label-success">NEW!</span></li>
              <li><a href="#testing">Testing</a></li>
            </ul>
          </li>
          <li><a href="#blockchain-api" class="mpsb">Blockchain API</a>
            <ul>
              <li><a href="#chains">Chains</a></li>
              <li><a href="#blocks">Blocks</a></li>
              <li><a href="#transactions">Transactions</a></li>
              <li><a href="#zero_confirmations">0-Confirmations</a> <span class="label label-success">NEW!</span></li>
            </ul>
          </li>
          <li><a href="#address_api" class="mpsb">Address API</a>
            <ul>
              <li><a href="#address_details">Address Details</a></li>
              <li><a href="#address_gen">Address Generation</a></li>
            </ul>
          </li>
          <li><a href="#wallet_api" class="mpsb">Wallet API</a>
            <ul>
              <li><a href="#wallet_api">Wallet</a>  <span class="label label-success">NEW!</span></li>
              <!-- <li><a href="#hd_wallet">HD Wallet</a>  <span class="label label-success">NEW!</span></li> -->
            </ul>
          </li>
          <li><a href="#websocket_webhook" class="mpsb">WebSockets &amp; WebHooks</a>
            <ul>
              <li><a href="#events">Events</a></li>
              <li><a href="#websockets">WebSockets</a></li>
              <li><a href="#webhooks">WebHooks</a></li>
            </ul>
          </li>
          <li><a href="#payments" class="mpsb">Payments and Transfers</a>
            <ul>
              <li><a href="#payments_summary">Summary</a></li>
              <li><a href="#payments_details">Details</a></li>
            </ul>
          </li>
          <li><a href="#creating_transactions" class="mpsb">Creating Transactions</a>
            <ul>
              <li><a href="#generic_transactions">Generic Transactions</a></li>
              <li><a href="#micro_transactions">Micro Transactions</a> <span class="label label-success">NEW!</span></li>
              <li><a href="#signing_sending">Signing and Sending</a></li>
              <li><a href="#multisig">Multisig</a></li>
            </ul>
          </li>
          <li><a href="#top" class="mpsb"><i class="fa fa-arrow-up"></i> Back to Top</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

