<!--Footer st -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-6 col-md-6">
        <p>We are social <a href="https://twitter.com/blockcypher"><i class="fa fa-twitter"></i></a> <a href="https://www.facebook.com/blockcypher"><i class="fa fa-facebook"></i></a> <!--a href="#"><i class="fa fa-linkedin"></i></a--> </p>
      </div>
      <div class="col-md-12 col-sm-6 col-md-6">
        <p class="text-right">© 2014 - BlockCypher</p>
      </div>
    </div>
  </div>
</footer>
<!--Footer nd --> 