---
layout: default
title: Reference
permalink: /
---

<section class="section">
  <div class="row">
    <div class="col-md-9" role="main">
      <p>BlockCypher runs the Bitcoin and Litecoin Main and Test block chains as well as the Uro block chain. We provide APIs and libraries to browse block chains, create standard and multisig transactions, and register callbacks to get notified on all block chain events.</p>
      <p>Using BlockCypher, complicated tasks such as multisig can be accomplished in a few lines of code:</p>

  <pre><code class="language-javascript">{
    "inputs": [{"addresses": [sourceAddr]}],
    "outputs": [{
      "addresses"   : [pubkey1, pubkey2, pubkey3],
      "script_type" : "multisig-2-of-3",
      "value"       : 250000,
    }]
  }</code></pre>

      <p>Please <a href="mailto:contact@blockcypher.com">contact us</a> if you have any questions or need a user token.</p>
      
      <h3 class="text-purple">Examples</h3>
      <ul>
        <li><a href="{{ "samples/browse-chain.html" | prepend: site.baseurl }}">Browsing the Block Chain</a></li>
        <li><a href="{{ "samples/nodejs-webhook.html" | prepend: site.baseurl }}">Using WebHooks</a></li>
        <li><a href="{{ "samples/create-tx.html" | prepend: site.baseurl }}">Sending a Simple Transaction</a></li>
        <li><a href="{{ "samples/multisig-tx.html" | prepend: site.baseurl }}">Using Multisig</a></li>
      </ul>

      {% include reference/intro.html %}
      {% include reference/blockchain_api.html %}
      {% include reference/payments_transfers.html %}
      {% include reference/creating_txns.html %}
      {% include reference/websockets_webhooks.html %}
      {% include reference/address_api.html %}
    </div>

    <div class="col-md-3">
      <div id="content-table" class="hidden-print hidden-xs hidden-sm navbar-example" data-spy="affix" data-offset-top="190">
        <ul class="nav" role="tablist">
          <li><a href="#introduction">Introduction</a>
            <ul>
              <li><a href="#rate_limits">Rate Limits</a></li>
              <li><a href="#testing">Testing</a> <span class="label label-success">NEW!</span></li>
            </ul>
          </li>
          <li><a href="#blockchain-api">Blockchain API</a>
            <ul>
              <li><a href="#chains">Chains</a></li>
              <li><a href="#blocks">Blocks</a></li>
              <li><a href="#transactions">Transactions</a></li>
              <li><a href="#zero_confirmations">0-Confirmations</a> <span class="label label-success">NEW!</span></li>
            </ul>
          </li>
          <li><a href="#payments">Payments and Transfers <span class="label label-success">NEW!</span></a>
            <ul>
              <li><a href="#payments_summary">Summary</a></li>
              <li><a href="#payments_details">Details</a></li>
            </ul>
          </li>
          <li><a href="#creating_transactions">Creating Transactions</a>
            <ul>
              <li><a href="#transaction_skeleton">Transaction Skeleton</a></li>
              <li><a href="#signing_sending">Signing and Sending</a></li>
              <li><a href="#error_handling">Error Handling</a></li>
              <li><a href="#multisig">Multisig</a></li>
            </ul>
          </li>
          <li><a href="#websocket_webhook">WebSockets &amp; WebHooks</a>
            <ul>
              <li><a href="#events">Events</a></li>
              <li><a href="#websockets">WebSockets</a></li>
              <li><a href="#webhooks">WebHooks</a></li>
            </ul>
          </li>
          <li><a href="#address_api">Address API</a>
            <ul>
              <li><a href="#address_gen">Address Generation</a></li>
              <li><a href="#address_details">Address Details</a></li>
            </ul>
          </li>
          <li><a href="#top">Back to Top</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

