---
layout: default
title: Reference
permalink: reference.html
---

<section class="section">
    <div class="row">
      <div class="col-md-9" role="main">
        {% include reference/intro.html %}
        {% include reference/blockchain_api.html %}
        {% include reference/payments_transfers.html %}
        {% include reference/creating_txns.html %}
        {% include reference/websockets_webhooks.html %}
        {% include reference/address_api.html %}
      </div>

      <div class="col-md-3">
        <div class="content-table hidden-print hidden-xs hidden-sm" data-spy="affix" data-offset-top="190">
          <ul class="nav bs-docs-sidenav" role="complementary">
            <li><a href="#introduction">Introduction</a>
              <ul>
                <li><a href="#rate_limits">Rate Limits</a></li>
                <li><a href="#testing">Testing <b><font color="red">(new!) </font></b></a></li>
              </ul>
            </li>
            <li><a href="#blockchain-api">Blockchain API</a>
              <ul>
                <li><a href="#chains">Chains</a></li>
                <li><a href="#blocks">Blocks</a></li>
                <li><a href="#transactions">Transactions</a></li>
                <li><a href="#zero_confirmations">0-Confirmations <b><font color="red">(new!) </font></b></a></li>
              </ul>
            </li>
            <li><a href="#payments">Payments and Transfers <b><font color="red">(new!) </font></b></a>
              <ul>
                <li><a href="#payments_summary">Summary</a></li>
                <li><a href="#payments_details">Details</a></li>
              </ul>
            </li>
            <li><a href="#creating_transactions">Creating Transactions</a>
              <ul>
                <li><a href="#transaction_skeleton">Transaction Skeleton</a></li>
                <li><a href="#signing_sending">Signing and Sending</a></li>
                <li><a href="#error_handling">Error Handling</a></li>
                <li><a href="#multisig">Multisig</a></li>
              </ul>
            </li>
            <li><a href="#websocket_webhook">WebSockets &amp; WebHooks</a>
              <ul>
                <li><a href="#events">Events</a></li>
                <li><a href="#websockets">WebSockets</a></li>
                <li><a href="#webhooks">WebHooks</a></li>
              </ul>
            </li>
            <li><a href="#address_api">Address API</a>
              <ul>
                <li><a href="#address_gen">Address Generation</a></li>
                <li><a href="#address_details">Address Details</a></li>
              </ul>
            </li>
          </ul>
        </div>

    </div>
</section>