body {
  margin: auto;
  width: 940px;
}
p, ul, ol {
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
}
h1, h2, h3, h4, h5 {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
code {
  font-size: 12px;
}
div.top-menu {
  text-align: right;
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px 5px 5px;
  border-bottom: 1px solid #222;
}
div.top-menu a {
  text-decoration: none;
  color: #555;
}
div.top-menu a:visited {
  color: #555;
}
div.logo-title {
  margin: 40px 0 20px 10px;
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 42px;
  color: rgb(42, 83, 153);
}
div.logo-title img {
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  font: normal 16px Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 1px solid #171812;
  border-radius: 3px;
}
table td, table th { padding: 9px 12px; }
table thead th {
  font-size: 13px;
  background-color:#5A5D50;
  color:#FFFFFF;
  font-weight: bold;
  border-left: 1px solid #171812;
}
table thead th:first-child { border: none; }
table tbody td {
  font-size: 13px;
  color: #333;
  border-left: 1px solid #171812;
  font-weight: normal;
  padding: 6px 10px;
}
table thead th:first-child { border: none; }
table tbody .alt td {
  background: #E1EEf4;
  color: #333;
}
table tbody td:first-child { border-left: none; }
table tbody tr:last-child td { border-bottom: none; }
button.tryme {
  -moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  box-shadow:inset 0px 1px 0px 0px #cae3fc;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  background-color:#79bbff;
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-topleft:10px;
  border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  -moz-border-radius-bottomright:10px;
  border-bottom-right-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
  border-bottom-left-radius:10px;
  text-indent:0;
  border:1px solid #469df5;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  font-style:normal;
  height:34px;
  line-height:32px;
  width:90px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #287ace;
}
button.tryme:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
  background-color:#4197ee;
}
button.tryme:active {
  position:relative;
  top:1px;
}
div.content-table {
  position: fixed;
  background-color: #f5f2f0;
  top: 50px;
  right: 20px;
  width: 180px;
  padding: 15px 15px 20px 15px;
  border: 1px solid #cac2c0;
  font-size: 14px;
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}
div.content-table a {
  text-decoration: none;
}
div.content-table a:visited {
  color: rgb(0, 0, 238);
}
div.content-table .top {
  margin-top: 5px;
}
div.content-table .sub1 {
  margin-left: 15px;
}
div.content-table .sub2 {
  margin-left: 30px;
}
div.log {
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #bbb;
  background-color: #f5f2f0;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}
div.log:empty {
  display: none;
}

table.status {
  border: 0;
}
table.status td {
  border: 0;
  vertical-align: top;
}
table.status .nopad {
  padding: 0;
}
table.status .middle {
  vertical-align: middle;
}

div.graph {
  margin: 20px 0;
}
