* {
	border: 0px;
}
/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0px;
	padding: 0px;
	border: 0;
	list-style-type: none;
	font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	font-family: "myriad_pro_lightregular";
	padding-top: 92px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
textarea {
	resize: none;
}
img {
	max-width: 100%;
}
a:focus {
	outline: none;
}
a:hover {
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	text-decoration: none;
}
h1 {
	font-size: 52px;
	color: #FFF;
	padding-bottom: 20px;
	font-family: "myriad_pro_lightregular";
}
h2 {
	font-size: 22px;
	color: #FFF;
	padding-bottom: 20px;
	font-family: MyriadProRegular;
}
h3 {
	font-size: 14px;
	color: #FFF;
	padding-bottom: 20px;
	font-family: MyriadProBold;
}
p {
	font-size: 17px;
	color: #FFF;
	padding-bottom: 20px;
	font-family: "myriad_pro_lightregular";
}
pre {
  margin-bottom: 20px !important;
}
button.btn {
  margin-bottom: 20px;
}
.spacer {
  min-width: 20px;
}
.affix {
  top: 80px;
}
.content-table .active > a {
  color: #59218c;
}
ul.list, ol.list {
  padding-bottom: 20px;
}
ul.list li, ol.list li {
  font-weight: normal;
}
ul.list li {
  list-style: disc inside none;
}
ol.list li {
  list-style: decimal outside none;
  font-size: 16px;
}
/*nav css st*/
.navbar-brand {
	height: auto;
	padding: 0px;
}
.navbar-name {
  font-family: 'Montserrat', sans-serif;
  display: inline;
  font-size: 35px;
  vertical-align: middle;
  padding-left: 10px;
  color: #59218c;
}
.navbar-name .alt-color {
  color: #0b8ed8;
}
.navbar-name .smaller {
  font-size: 32px;
}
@media (max-width: 480px) {
  .navbar-name {
    font-size: 26px;
  }
  .navbar-name .smaller {
    font-size: 22px;
  }
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0px;
}
.navbar-default {
	background-color: #FFFFFF;
}
.navbar {
	margin-bottom: 0px;
	min-height: 0px;
	border-radius: 0px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #dad3dc;
	padding-top: 6px;
	padding-bottom: 6px;
}
.navbar-default .navbar-nav > li > a {
	color: #929191;
	font-size: 14px;
	text-transform: uppercase;
	font-family: MyriadProSemibold;
}
.navbar-nav > li > a {
	padding: 0px 20px 0px 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: transparent;
	color: #000000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #000000;
}
.navbar-nav {
	padding-top: 17px;
}
/*nav css nd*/

/*bg-primary css st*/
.bg-primary {
	background-color: #3f1169;
	padding-top: 50px;
	padding-bottom: 10px;
  background-image: url(../img/bg1.jpg);
	background-repeat: no-repeat;
	background-position: 0px -100px, center;
	overflow: hidden;
  margin-top: -29px;
}
.bg-primary .btn-default {
	font-size: 16px;
	color: #000;
	background-color: #fff;
	border-color: #ccc;
	padding: 12px 70px 12px 70px;
	font-family: MyriadProBold;
	letter-spacing: 2px;
}
.bg-primary .btn-default:hover, .bg-primary .btn-default:focus, .bg-primary .btn-default:active {
	color: #fff;
	background-color: #59218c;
	border-color: #59218c;
}
.bg-primary .label-info {
	background-color: transparent;
	background-image: url(../img/slider-bg1.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-right: 350px;
	padding-left: 350px;
	padding-top: 70px;
	margin-top: 25px;
	padding-bottom: 100px;
}
.bg-primary .label-info p {
	margin: 0px;
}
.bg-primary .label-info .btn-primary {
	font-size: 15px;
	color: #fff;
	background-color: #59218c;
	border-color: #59218c;
	padding: 10px 40px 10px 40px;
	font-family: MyriadProBold;
	text-transform: uppercase;
}
.bg-primary .label-info .btn-primary:hover, .bg-primary .label-info .btn-primary:focus, .bg-primary .label-info .btn-primary:active {
	color: #fff;
	background-color: #864dba;
	border-color: #864dba;
}
.bg-primary .label-info .carousel-control {
	bottom: 0;
	font-size: 20px;
	left: -70px;
	opacity: 0.5;
	position: absolute;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	top: 0;
	width: 30px;
}
.bg-primary .label-info .carousel-control.left {
	background-image: none;
}
.bg-primary .label-info .carousel-control.right {
	background-image: none;
	left: auto;
	right: -70px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	font-size: 20px;
	height: 30px;
	margin-top: -15px;
	width: 30px;
	color: #000000;
}
.bg-primary .label-info .carousel-indicators {
	bottom: -80px;
}
.bg-primary .carousel-indicators li {
	background-color: #cfcdcd;
	border: none;
	border-radius: 10px;
}
.bg-primary .carousel-indicators .active {
	width: 11px;
	height: 11px;
	margin: 0;
	background-color: #3e0870;
}
/*bg-primary css nd*/


/*bg-danger css st*/
.bg-danger {
	background-color: #f3f4f8;
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(../img/bg2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
}
.bg-danger h1 {
	color: #000;
}
.bg-danger h2 {
	color: #59218c;
	font-size: 20px;
	padding-bottom: 20px;
	font-family: OpenSansSemibold;
}
.bg-danger h3 {
	color: #57208a;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.bg-danger p {
	color: #000;
}
.bg-danger ul {
  font-size: 16px;
  padding-left: 20px;
}
.bg-danger li {
  font-weight: bold;
}

/*bg-danger css nd*/


/*bg-info css nd*/
.bg-info {
	background-color: #2fa2e5;
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(../img/bg3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.bg-info h2 {
	font-size: 32px;
	font-family: "myriad_pro_lightregular";
	padding-bottom: 0px;
	padding-top: 5px;
	padding-right: 20px;
}
.bg-info h2 strong {
	font-family: MyriadProSemibold;
}
.bg-info .form-inline .form-group {
	min-width: 24%;
}
.bg-info .form-inline .form-group .form-control {
	min-width: 100%;
}
.bg-info .btn-default {
	font-size: 14px;
	color: #fff;
	background-color: #000000;
	border-color: #000000;
	padding: 12px 30px 12px 30px;
	font-family: OpenSansBold;
	text-transform: uppercase;
}
.bg-info .btn-default:hover, .bg-info .btn-default:focus, .bg-info .btn-default:active {
	color: #fff;
	background-color: #642f95;
	border-color: #642f95;
}
/*bg-info css nd*/
/*bg-success css st*/
.bg-success {
	background-color: #532281;
	padding-top: 60px;
	padding-bottom: 10px;
	background-image: url(../img/bg4.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.bg-success .thumbnail {
	padding: 0px;
	margin-bottom: 40px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
.bg-success .thumbnail:hover {
}
.bg-success .img-rounded {
	border-radius: 50%;
	margin-bottom: 15px;
}
.bg-success h3 {
	color: #FFFFFF;
	padding-bottom: 15px;
	font-size: 18px;
	font-family: OpenSansRegular;
}
.bg-success p {
	color: #dfc1fb;
	padding-bottom: 0px;
}
/*bg-success css nd*/


/*panel-warning css st*/
.panel-warning {
	padding-top: 100px;
	padding-bottom: 60px;
	background-color: #341850;
	background-image: url(../img/bg6.jpg);
	background-repeat: no-repeat;
	background-position: 0px -100px, center;
}
.panel-warning form {
	padding-top: 40px;
}
.panel-warning .btn-default {
	font-size: 14px;
	color: #FFF;
	background-color: #7640b1;
	font-family: MyriadProSemibold;
	border: none;
	padding-top: 23px;
	padding-right: 145px;
	padding-bottom: 23px;
	padding-left: 145px;
	text-transform: uppercase;
}
.panel-warning .btn-default:hover {
	background-color: #643696;
	color: #FFF;
}
/*panel-warning css nd*/
/*panel-success css st*/
.panel-success {
	background-color: #2fa2e5;
	padding-top: 70px;
	padding-bottom: 70px;
}
.panel-success .carousel-control .glyphicon-chevron-left, .panel-success .carousel-control .glyphicon-chevron-right, .panel-success .carousel-control .icon-prev, .panel-success .carousel-control .icon-next {
	color: #ffffff;
}
.panel-success .carousel-control.left, .panel-success .carousel-control.right {
	background: transparent;
}
/*panel-success css nd*/
/*panel-info css st*/
.panel-info {
	background-color: #f3f4f8;
	padding-top: 65px;
	padding-bottom: 115px;
}
.panel-info h1 {
	color: #000000;
}
.panel-info p {
	padding-bottom: 45px;
	color: #636363;
}
.panel-primary .xxx {
	-webkit-transform: rotateX(-90deg); /* Chrome, Safari, Opera */
	transform: rotateX(-90deg); /* Standard syntax */
	-webkit-transition: all 1.0s linear;
	-moz-transition: all 1.0s linear;
	-o-transition: all 1.0s linear;
	transition: all 1.0s linear;
}
.panel-primary .yyy {
	-webkit-transform: rotateY(-90deg); /* Chrome, Safari, Opera */
	transform: rotateY(-90deg); /* Standard syntax */
	-webkit-transition: all 1.0s linear;
	-moz-transition: all 1.0s linear;
	-o-transition: all 1.0s linear;
	transition: all 1.0s linear;
}
.panel-info .label-default {
	color: #FFF;
	background-color: #000;
	text-align: center;
	padding: 10px;
	position: absolute;
	left: 20px;
	top: 22px;
}
.panel-info .label-default h1 {
	font-size: 30px !important;
	color: #fff !important;
	font-family: OpenSansRegular;
	padding-bottom: 3px !important;
}
.panel-info .label-default p {
	font-size: 12px !important;
	color: #fff !important;
	font-family: OpenSansRegular;
	padding-bottom: 0px !important;
}
.panel-info .thumbnail {
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-radius: 0px;
	background: transparent;
}
.panel-info .thumbnail figure {
	padding-bottom: 25px;
	position: relative;
}
.first {
	-ms-transform: scale(.8); /* IE 9 */
	-webkit-transform: scale(.8); /* Chrome, Safari, Opera */
	transform: scale(.8);
	opacity: 0;
	-webkit-transition: all 1.0s linear;
	-moz-transition: all 1.0s linear;
	-o-transition: all 1.0s linear;
	transition: all 1.0s linear;
}
.second {
	-ms-transform: scale(.3); /* IE 9 */
	-webkit-transform: scale(.3); /* Chrome, Safari, Opera */
	transform: scale(.3);
	opacity: 0;
	-webkit-transition: all 1.0s linear;
	-moz-transition: all 1.0s linear;
	-o-transition: all 1.0s linear;
	transition: all 1.0s linear;
}
.third {
	transform: translateX(-50px);
	-ms-transform: translateX(-50px); /* IE 9 */
	-webkit-transform: translateX(-50px); /* Safari and Chrome */
	-ms-transform: scale(.3); /* IE 9 */
	-webkit-transform: scale(.3); /* Chrome, Safari, Opera */
	transform: scale(.3);
	opacity: 0;
	-webkit-transition: all 1.0s linear;
	-moz-transition: all 1.0s linear;
	-o-transition: all 1.0s linear;
	transition: all 1.0s linear;
}
.panel-info .thumbnail h1 {
	font-size: 18px;
	color: #2b2b2b;
	font-family: OpenSansRegular;
	padding-bottom: 14px;
}
.panel-info .thumbnail p {
	font-size: 14px;
	color: #636363;
	font-family: OpenSansLight;
	padding-bottom: 10px;
}
.panel-info .thumbnail p .fa {
	padding-right: 8px;
}
.panel-info.thumbnail p span {
	padding-right: 12px;
}
/*panel-info css nd*/
/*panel-primary css st*/
.panel-primary {
	background-color: #532a7a;
	padding-top: 100px;
	padding-bottom: 80px;
	background-image: url(../img/bg5.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.panel-primary p {
	padding-bottom: 70px;
	color: #dfc1fb;
	font-family: OpenSansRegular;
	font-size: 14px;
}
.panel-primary .thumbnail {
	position: relative;
	overflow: hidden;
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: transparent;
}
.panel-primary .thumbnail figure {
	margin-bottom: 30px;
}
.social {
	position: absolute;
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	width: 300px;
	left: -300px;
	top: 0px;
	padding-top: 40%;
}
.social a {
	display: inline-block;
}
.panel-primary .thumbnail:hover .social {
	left: 0px;
}
.panel-primary .thumbnail h1 {
	color: #fff;
	font-size: 18px;
	padding-bottom: 8px;
	font-family: OpenSansRegular;
}
.panel-primary .thumbnail h2 {
	color: #e0c2ff;
	font-size: 14px;
	font-style: italic;
	padding-bottom: 20px;
	font-family: OpenSansSemibold;
}
.panel-primary .thumbnail p {
	color: #fffff;
	padding-bottom: 0px;
}
/*panel-primary css nd*/
/*bg-warning css st*/
.bg-warning {
	background-color: #f5f5f5;
	padding-top: 100px;
	padding-bottom: 80px;
}
.bg-warning p {
	padding-bottom: 20px;
	font-size: 18px;
	color: #828181;
	font-family: MyriadProRegular;
}
.bg-warning h1 {
	color: #000000;
}
.bg-warning h2 {
  color: #59218c;
}
.bg-warning figure {
	padding-bottom: 80px;
}
.bg-warning .round {
	padding: 4px;
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;
 transform:(360deg);
	-webkit-transform: translateY(360deg);
	-moz-transform: translateY(360deg);
}
.bg-warning .round:hover {
	transform: translateY(0deg);
	-webkit-transform: translateY(0deg);
	-moz-transform: translateY(0deg);
}
.bg-warning .carousel-control.left, .bg-warning .carousel-control.right {
	background: transparent;
	width: 35px;
}
.bg-warning .item h4 {
	font-family: MyriadProSemibold;
	font-size: 22px;
	font-style: italic;
	color: #636363;
	padding-bottom: 25px;
	padding-left: 50px;
}
.bg-warning .item h4:first-child {
	background-image: url(../img/cote-1.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.bg-warning h4 span.text-success {
	background: transparent;
	font-family: MyriadProSemibold;
	font-size: 18px;
	font-style: italic;
	color: #000;
}
.bg-warning h4 span.text-info {
	background: transparent;
	font-family: MyriadProSemibold;
	font-size: 18px;
	font-style: italic;
	color: #7640b1;
}
.bg-warning .label-info {
	background-color: transparent;
	background-image: url(../img/bar-repet1.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 55px;
	text-align: center;
	margin-top: 55px;
}
.bg-warning .label-info img {
	padding: 0px 10px 0px 10px;
}
/*bg-warning css nd*/

/*all*/
.form-control {
	height: auto;
	padding: 12px 20px 12px 20px;
	font-size: 14px;
	color: #9e9e9e;
	font-family: OpenSansRegular;
}
.barA {
	background-image: url(../img/bar1.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
.barB {
	background-image: url(../img/bar2.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
/*all*/

/*footer css st*/
footer {
	background-color: #000;
	padding-top: 30px;
	padding-bottom: 30px;
}
footer .fa {
	font-size: 20px;
	color: #515151;
	text-decoration: none;
	padding-left: 5px;
}
footer .fa:hover {
	color: #fff;
}
footer p {
	padding-bottom: 0px;
	font-size: 14px;
	color: #8c8b8b;
	font-family: OpenSansLight;
}
/*footer css nd*/
/*modal css st*/
.modal-header .close {
	color: #FFF;
	float: right;
	font-size: 16px;
	font-weight: bold;
	opacity: 1;
	text-shadow: 0 1px 0 #fff;
	background-color: #000;
	height: 22px;
	width: 22px;
	line-height: 22px;
	border-radius: 50%;
	padding-bottom: 2px;
}
.modal-body h6 {
	font-size: 14px;
	color: #000;
	padding-bottom: 0px;
	font-family: MyriadProSemibold;
	padding-top: 30px;
}
.modal-body h6 img {
	padding-left: 10px;
}
.modal-body .label-info {
	border: 1px solid #dbdbdb;
	background-color: #FFF;
	border-radius: 10px;
	margin-bottom: 0px;
	position: relative;
	margin-top: 60px;
	padding-top: 80px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.modal-body dl {
	margin-bottom: 20px;
	margin-top: 0;
	font-size: 14px;
	color: #0e0616;
}
.modal-body .dl-horizontal dt {
	text-align: left;
	width: 30%;
	font-weight: normal;
	font-family: MyriadProSemibold;
}
.modal-body .dl-horizontal dd {
	margin-left: 30%;
	font-family: MyriadProRegular;
	padding-bottom: 10px;
	overflow: hidden;
}
.modal-body .dl-horizontal dd a {
	color: #227cc8;
	text-decoration: underline;
}
.modal-body .dl-horizontal dd a:hover {
	color: #227cc8;
	text-decoration: none;
}
.modal-body .logo {
	position: absolute;
	left: 46%;
	top: -42px;
}
/*modal css nd*/
/*backtotop st*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 50px;
	right: 20px;
	overflow: hidden;
	width: 34px;
	height: 34px;
	border: none;
	text-indent: 100%;
	background: url(../img/ui.totop2.png) no-repeat left top;
	z-index: 999;
}
#toTopHover {
	background: url(../img/ui.totop2.png) no-repeat left -34px;
	width: 34px;
	height: 34px;
	display: block;
	overflow: hidden;
	float: left;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline: none;
}
/*backtotop nd*/

/*image overlay*/
.thumbnail .overlay{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url(../img/overlay.png);
	background-repeat: repeat;
}
.thumbnail .overlay table{
	height: 100%;
	width: 100%;	
}
.thumbnail .overlay table img{
	display:inline-block;
}
/*image overlay*/
.anchorBox {
	position: absolute;
	top: -85px;
	left: 0px;
}

/*boxes containing code samples*/
.codebox {
  background-color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 350px;
}
.codebox h2 {
  color: #000;
  font-size: 26px;
  padding-bottom: 5px;
}
.codebox p {
  color: #000;
  color: #59218c;
  font-weight: bold;
}
.codebox-headbar {
  background: #ccc;
  min-height: 25px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px #c5c5c5 solid;
}
.codebox-body {
  padding: 10px 30px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.codebox pre {
  text-align: left;
}

.codebox.inverse {
  background-color: #111;
}
.codebox.inverse h2 {
  color: #fff;
  font-size: 26px;
  padding-bottom: 5px;
}

.codebox .btn-default {
  background-color: #7640b1;
  color: #fff;
  padding: 8px 50px;
}
.codebox .btn-default:hover {
  background-color: #643696;
}

.contentHolderUnit[z-index=99] {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.contentHolderUnit[z-index=98] {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}


@media (max-width: 1200px) {
.bg-primary .label-info {
	padding-right: 250px;
	padding-left: 250px;
	padding-bottom: 110px;
}
}
@media (max-width: 992px) {
h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}
.navbar-nav > li > a {
	padding: 0px 10px 0px 10px;
}

.bg-primary .label-info {
	padding-right: 130px;
	padding-left: 130px;
	padding-bottom: 110px;
}

.bg-info {
	padding-bottom: 30px;
	padding-top: 30px;
}
.bg-info h2 {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	text-align: center;
}
.bg-info .form-group {
	display: block;
	width: 100%;
	padding-bottom: 10px;
}
.bg-info .form-control {
	width: 100%;
}
.bg-info .btn-default {
	width: 100%;
}
.bg-success {
	padding-top: 40px;
	padding-bottom: 0px;
	background-image: none;
}
.bg-warning {
	padding-bottom: 30px;
}
.bg-warning figure {
	padding-bottom: 30px;
}
.bg-warning .label-info {
	padding-top: 20px;
	margin-top: 20px;
}
.panel-primary {
	padding-bottom: 5px;
	background-image: none;
}
.panel-primary p {
	padding-bottom: 30px;
}
.panel-primary .thumbnail {
	padding-bottom: 35px;
}
.panel-info {
	padding-top: 30px;
	padding-bottom: 20px;
}
.panel-info p {
	padding-bottom: 20px;
}
.panel-success {
	padding-top: 30px;
	padding-bottom: 20px;
}
.panel-warning {
	padding-top: 30px;
	padding-bottom: 30px;
}
.panel-warning form {
	padding-top: 10px;
}
.modal-dialog {
	margin: 30px 10px;
	width: auto;
}
}
@media (max-width: 767px) {
	body {
	padding-top: 49px;
}
.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 99;
}
.navbar-nav {
    padding-top: 0px;
}
.navbar-toggle {
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: 25px;
}
.navbar-nav > li > a {
	padding: 5px 10px 5px 10px;
}
.navbar-brand {
	padding: 10px 0px 10px 10px;
}
.navbar-default .navbar-toggle {
	border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #471774;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #b77bed;
}
.bg-primary {
	padding-top: 88px;
}
.bg-primary .label-info .carousel-control {
	left: 0px;
}
.bg-primary .label-info .carousel-control.right {
	right: 0px;
}
.bg-primary .label-info {
	background-image: none;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 10px;
	margin-top: 5px;
	margin-bottom: 30px;
	padding-bottom: 0px;
	background-color: #FFF;
}
.bg-primary .label-info .carousel-indicators {
	bottom: -35px;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	display: inline-block;
}
.bg-danger {
	padding-top: 88px;
}
.bg-warning {
	padding-top: 88px;
}
.panel-primary {
	padding-top: 88px;
}
.panel-warning {
	padding-top: 88px;
}
.bg-info .form-group {
	padding-bottom: 0px;
}
.panel-warning .btn-default {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	width: 100%;
}
.panel-info .thumbnail {
	margin-bottom: 20px;
}
footer {
	padding-top: 20px;
	padding-bottom: 10px;
}
footer p {
	text-align: center;
	padding-bottom: 10px;
}
footer .text-right {
	text-align: center !important;
}
.modal-body .dl-horizontal dt {
	width: 100%;
}
.modal-body .dl-horizontal dd {
	margin-left: 0%;
}
.hide {
	display: block !important;
}
.show {
	display: none !important;
}
}
 @media (max-width: 480px) {
.bg-primary .label-info .btn-primary {
	padding: 10px 0px 10px 0px;
	margin: 0px 5% 0px 5%;
	width: 90%;
}
.modal-body .logo {
	left: 36%;
}
}
