$asset-path: '../assets/img/';
$purple: #59218c;
$blue: #0B8ED8;

// Utilities
.bg-white-gradient {
	background: #f3f4f8; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f3f4f8 0%, #fff 100%);
	background: -webkit-gradient(radial, center center,0, center center, 100%, color-stop(0%,#f3f4f8), color-stop(100%,#fff));
	background: -webkit-radial-gradient(center, ellipse cover,  #f3f4f8 0%,#fff 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #f3f4f8 0%,#fff 100%);
	background: radial-gradient(ellipse at center,  #f3f4f8 0%,#fff 100%);
}
.text-purple {
	color: $purple;
}
.mplr {
	font-family:'myriad_pro_lightregular', 'helvetica', arial, sans-serif;
}
.mpsb {
	font-family: 'MyriadProSemibold', 'helvetica', arial, sans-serif;
}
.acc {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.title-anchor {
	display: block;
	position: relative;
	top: -80px;
	visibility: hidden;
}
/* Layout */
body {
	font-family:'myriad_pro_lightregular', 'helvetica', arial, sans-serif;
	background: #000;
}
.container {
	min-width:310px;
}
.main-container {
	margin-top:50px;
	background: #fff;
	font-size:1.2em;
}
.section {
	padding:20px 0;
}
.page-header {
	padding:60px 0;
	font-size:1.2em;
	color: #fff;
	background: #371456 url(#{$asset-path}chain.svg) left center no-repeat;
	background: url(#{$asset-path}chain.svg) left center no-repeat,
				-moz-linear-gradient(top, $purple 0%, #371456 100%);
	background: url(#{$asset-path}chain.svg) left center no-repeat,
				-webkit-gradient(linear, left top, left bottom, color-stop(0%, $purple), color-stop(100%, #371456));
	background: url(#{$asset-path}chain.svg) left center no-repeat,
				-webkit-linear-gradient(top, $purple 0%, #371456 100%);
	background: url(#{$asset-path}chain.svg) left center no-repeat,
				linear-gradient(to bottom, $purple 0%, #371456 100%);
	h1 {
		margin:0;
		line-height:1;
	}
}
// Nav
.navbar {
	border-bottom:1px solid #dad3dc;
	background: #fff;
	padding:6px 0;
}
.navbar-brand {
	padding:0 15px;
}
.logo {
	background:url(#{$asset-path}logo.svg) center no-repeat;
	height:50px;
	width:313px;
}
.navbar-default .navbar-nav > li > a {
	color: #929191;
	text-transform: uppercase;
	font-family: 'MyriadProSemibold', 'helvetica', arial, sans-serif;
}
.header-coin {
	width:30px;
	height:30px;
	display:inline-block;
}
/* Footer */
.main-footer {
	background: #000;
	padding:30px;
	color: #515151;
	font-size:1.2em;
	a {
		color: #515151;
		text-decoration: underline;
	}
	a.social {
		text-decoration: none;
	}
	.fa {
		font-size: 20px;
		text-decoration: none;
		padding-left: 5px;
	}
	.btn {
		background: transparent;
		text-decoration: none;
		color:#888;
		border-color:#888;
	}
}
#content-table .active {
	border-right:2px solid $purple;
	.active {
		background:#eee;
	}
}
.affix {
	top:60px;
}


